<section class="section">
	<div class="container">
		<h1 class="title">Culture</h1>
		<h2 class="subtitle">C'est ici que tous les éléments du monde sont expliqués</h2>

		<div class="columns">
			<div class="column is-2 is-hidden-mobile">
				<aside class="menu fixed-menu">
					<ul class="menu-list">
						<p class="menu-label">Dieux</p>
						<li><a class="is-active" (click)="scrollTo('tyfania')" data-id="tyfania">Tyfania</a></li>
					</ul>
				</aside>
			</div>

			<div class="column is-10">
				<div class="columns is-centered">
					<div class="column no-border is-2 has-text-centered">
						<figure class="image is-128x128 is-inline-block">
							<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>

					<div class="column is-10">
						<article id="tyfania">
							<h2 class="is-size-4">Tyfania</h2>
							<h3 class="is-size-5 has-text-grey-light">Déesse des Runes, des marchands, et de la Fortune</h3>

							<div class="content">
								<p class="has-text-justified">
									La déesse des Runes Tyfania est la créatrice de la magie Runique. Elle est souvent comparée au dieu
									Kreff,
									qui appartenait aux anciens dieux avec lesquels les Piltra communiquaient avant l’extinction des êtres
									divins.
								</p>
	
								<p class="has-text-justified">
									Tyfania est représentée comme une divinité souriant au moindre profit. Elle fait preuve d’une forte
									présence
									dans le monde, plus que n’importe quel autre dieu, et dirige le plus grand groupe marchand du monde. Son
									côté commerçant fait d’elle une divinité qui s’entend relativement bien avec les autres divinités,
									excepté
									Dzar, le dieu de la Nature.
								</p>
	
								<blockquote class="is-italic">
									“La légende raconte que Dzar aurait usé de magie sur Tyfania, afin de l’attirer dans sa couche.
									Profitant du
									sommeil dans lequel Tyfania était plongé suite à leurs ébats, il en profita pour lui subtiliser sa plus
									grande création : les Runes élémentaires.
									<br><br>
									Tyfania se retrouva enceinte de Dzar, et folle de rage devant le refus de celui-ci à reconnaitre leurs
									ébats, elle attendit qu’il s’endorme et lui arracha le coeur.
									Plus tard, elle transforma ce coeur en rune de fertilité et de fécondité et le donna à Tyfia, déesse des
									Moissons, et enfant de leur union chaotique.”
								</blockquote>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>