<section class="section">
	<div class="container">
		<h1 class="title">Culture</h1>
		<h2 class="subtitle">C'est ici que tous les éléments du monde sont expliqués</h2>

		<div class="columns">
			<div class="column is-2 is-hidden-mobile">
				<aside class="menu fixed-menu">
					<ul class="menu-list">
						<li *ngFor="let item of listeMenu; let isFirst = first">
							<a [class]="isFirst ? 'has-background-info' : ''">{{ item }}</a>
							<ul id="sous-{{ item }}"></ul>
						</li>
					</ul>
				</aside>
			</div>

			<div class="column is-10">
				<div class="offcanvas">
					<div class="is-flex" style="margin-bottom: 2rem;">
						<button class="delete" style="margin-left: auto; margin-top: 3%; margin-right: 2.5%;" (click)="closeOffCanvas()"></button>
					</div>
					<div class="menu">
						<ul class="menu-list">
							<li *ngFor="let item of listeMenu; let isFirst = first">
								<a [class]="isFirst ? 'has-background-info' : ''">{{ item }}</a>
								<ul id="sous-{{ item }}"></ul>
							</li>
						</ul>
					</div>
				</div>
				
				<div id="contenu"></div>

			</div>
			
			<button id="btn-menu" class="button is-primary is-rounded is-hidden-tablet" (click)="openOffCanvas()">
				<span class="icon is-small">
					<i class="fas fa-list-alt"></i>
				</span>
			</button>
		</div>
	</div>
</section>
