<section class="section">
	<div class="container">
		<h1 class="title">Culture</h1>
		<h2 class="subtitle">C'est ici que tous les éléments du monde sont expliqués</h2>

		<div class="columns">
			<div class="column is-2 is-hidden-mobile">
				<aside class="menu fixed-menu">
					<ul class="menu-list">
						<p class="menu-label">Religion</p>
						<li><a class="is-active" (click)="scrollTo('ordre-vent')" data-id="ordre-vent">Ordre du Vent</a></li>
						<li><a class="" (click)="scrollTo('uni')" data-id="uni">Le Culte d'Uni</a></li>
						<li><a class="" (click)="scrollTo('oublie')" data-id="oublie">Les Oubliés</a></li>
					</ul>
				</aside>
			</div>

			<div class="column is-10">
				<article id="ordre-vent">
					<h2 class="is-size-4">Ordre du Vent</h2>
					<h3 class="is-size-5 has-text-grey-light is-italic">
						Bastion du Culte : Temple des Montagnes de Zaok'Sha (<strong>Haryam</strong>)
						<br>
						Représentant : Guo Lei
					</h3>

					<div class="content">
						<p class="has-text-justified">
							L'Ordre du Vent est une des rares religions à avoir survécu à l'arrivée de l'âge de l'oubli. Cet ordre est guidé par la déesse du Vent. <br>
							Pour les Nomades de cet ordre, les murmures du vent ont une symbolique divine et sont des signes manifeste de la Déesse du Vent. Il est possible de trouver ce culte dans des temples disséminés au quatre coin du monde, toujours en haut d'une montagne.
						</p>

						<p class="has-text-justified">
							En quête de la paix spirituel, les Moines de l'Ordre du Vent renonce à tout : bien matériel, attaches sentimentales, héritage. Ils mènent ainsi leur vie le long des sentiers, plongés en constante méditation. En effectuant ce périple, les Moines espèrent atteindre l'<strong>éveil</strong>, un état rare que seule une poignée d'être ont pu atteindre à ce jour. <br>
							L'Ordre du Vent ne possède pas de réelle hiérarchie ou encore de règlement spécifique. Cependant, pour faciliter la communication avec les différents pays du monde, un représentant a été choisi : Guo Lei. Il serait devenu représentant de l'ordre durant l'âge des Oubliés, et à ce jour toujours vivant.
						</p>

						<p class="has-text-justified">
							Les Moines ayant atteint l'éveil peuvent être désignés pour la garde et l'entretien du Grand Temple, mais beaucoup décide de continuer leur voyage spirituel, porté par cette force nouvelle. <br>
							Nombreux sont les hommes errants ou les simples pélerins a apprécié d'emprunter les chemins des Nomades, des endroits inspirant paix et sérénité comme aucun autre endroit dans le monde.
						</p>
					</div>
				</article>

				<article id="uni">
					<h2 class="is-size-4">Culte d'Uni</h2>
					<h3 class="is-size-5 has-text-grey-light is-italic">
						Bastion du Culte : Cathédrale Sainte Sapientia (<strong>Daerya</strong>)
						<br>
						Représentante : Sainte Dame Vatesa
					</h3>
				</article>

				<article id="oublie">
					<h2 class="is-size-4">Les Oubliés</h2>
					<h3 class="is-size-5 has-text-grey-light is-italic">
						Bastion du Culte : Massif Mëgrys
						<br>
						Représentant : ???
					</h3>
				</article>
				<!-- <div class="columns is-centered">
					<div class="column no-border is-2 has-text-centered">
						<figure class="image is-128x128 is-inline-block">
							<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>

					<div class="column is-10">
						<article id="tyfania">
							<h2 class="is-size-4">Tyfania</h2>
							<h3 class="is-size-5 has-text-grey-light">Déesse des Runes, des marchands, et de la Fortune</h3>

							<div class="content">
								<p class="has-text-justified">
									La déesse des Runes Tyfania est la créatrice de la magie Runique. Elle est souvent comparée au dieu
									Kreff,
									qui appartenait aux anciens dieux avec lesquels les Piltra communiquaient avant l’extinction des êtres
									divins.
								</p>
	
								<p class="has-text-justified">
									Tyfania est représentée comme une divinité souriant au moindre profit. Elle fait preuve d’une forte
									présence
									dans le monde, plus que n’importe quel autre dieu, et dirige le plus grand groupe marchand du monde. Son
									côté commerçant fait d’elle une divinité qui s’entend relativement bien avec les autres divinités,
									excepté
									Dzar, le dieu de la Nature.
								</p>
	
								<blockquote class="is-italic">
									“La légende raconte que Dzar aurait usé de magie sur Tyfania, afin de l’attirer dans sa couche.
									Profitant du
									sommeil dans lequel Tyfania était plongé suite à leurs ébats, il en profita pour lui subtiliser sa plus
									grande création : les Runes élémentaires.
									<br><br>
									Tyfania se retrouva enceinte de Dzar, et folle de rage devant le refus de celui-ci à reconnaitre leurs
									ébats, elle attendit qu’il s’endorme et lui arracha le coeur.
									Plus tard, elle transforma ce coeur en rune de fertilité et de fécondité et le donna à Tyfia, déesse des
									Moissons, et enfant de leur union chaotique.”
								</blockquote>
							</div>
						</article>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>