<section class="section">
	<div class="container">
		<h1 class="title">La guilde</h1>
		<h2 class="subtitle">Les informations, la situation et les membres de la guilde sont listés ici.</h2>

		<div class="columns">
			<div class="column is-2 is-hidden-mobile">
				<aside class="menu fixed-menu">
					<ul class="menu-list">
						<li><a class="is-active" (click)="scrollTo('informations')" data-id="informations">Informations</a></li>
						<li><a (click)="scrollTo('quetes')" data-id="quetes">Quêtes</a></li>
						<li><a (click)="scrollTo('items')" data-id="items">Objets de la guilde</a></li>
						<li><a (click)="scrollTo('membres')" data-id="membres">Membres</a></li>
					</ul>
				</aside>
			</div>

			<div class="column is-10">
				<div class="offcanvas">
					<div class="is-flex" style="margin-bottom: 2rem;">
						<button class="delete" style="margin-left: auto; margin-top: 3%; margin-right: 2.5%;" (click)="closeOffCanvas()"></button>
					</div>
					<div class="menu">
						<ul class="menu-list">
							<li><a class="is-active" (click)="scrollTo('informations')" data-id="informations">Informations</a></li>
							<li><a (click)="scrollTo('quetes')" data-id="quetes">Quêtes</a></li>
							<li><a (click)="scrollTo('items')" data-id="items">Objets de la guilde</a></li>
							<li><a (click)="scrollTo('membres')" data-id="membres">Membres</a></li>
						</ul>
					</div>
				</div>
			
				<div class="level is-mobile block">
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Membre(s)</p>
							<p class="title">???</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Capital (en cuivre)</p>
							<p class="title">
								???
								<i class="fa-solid fa-coins fa-xs icon-cuivre"></i>
							</p>
						</div>
					</div>
				</div>

				<div class="level is-mobile block">
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Capital (en fer)</p>
							<p class="title">
								???
								<i class="fa-solid fa-coins fa-xs has-text-grey-lighter"></i>
							</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Capital (en or)</p>
							<p class="title">
								???
								<i class="fa-solid fa-coins fa-xs has-text-warning"></i>
							</p>
						</div>
					</div>
				</div>

				<article id="informations">
					<h2 class="is-size-4">Informations</h2>
					<h3 class="is-size-5 has-text-grey-light">Tout ce qu'il y a savoir sur la guilde des joueurs</h3>
					<p class="has-text-justified"></p>
				</article>

				<article id="quetes">
					<h2 class="is-size-4">Quêtes</h2>
					<h3 class="is-size-5 has-text-grey-light">Toutes les quêtes : achevées ou en cours</h3>
					<p class="has-text-justified"></p>
				</article>

				<article id="items">
					<h2 class="is-size-4">Objets de la guilde</h2>
					<h3 class="is-size-5 has-text-grey-light">Les objets en possession de la guilde</h3>
					<p class="has-text-justified"></p>
				</article>

				<article id="membres">
					<h2 class="is-size-4">Membres</h2>
					<h3 class="is-size-5 has-text-grey-light">Les membres de la guilde</h3>
					<div class="columns is-desktop is-multiline is-vcentered">
						<div class="column is-one-third" *ngFor="let membre of listeMembres">
							<div class="card">
								<div class="card-content">
									<div class="tags">
										<ng-template ngFor let-tag [ngForOf]="membre.tags.trim().split(',')">
											<span class="tag is-rounded is-info">{{ tag }}</span>
										</ng-template>
									</div>
									
									<p class="title is-size-4">{{ [membre.prenom, membre.nom].join(" ") }}</p>
									
									<p class="subtitle is-size-6">{{ membre.designation }}</p>
									
									<div class="content">Etat : {{ membre.etat }} </div>
								</div>
								
								<footer class="card-footer">
									<button id="{{ membre.id }}" class="button is-primary card-footer-item" data-trigger="modal" data-target="modal-membre" (click)="openModal('modal-membre')">Détails</button>
								</footer>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		
		<button id="btn-menu" class="button is-primary is-rounded is-hidden-tablet" (click)="openOffCanvas()">
			<span class="icon is-small">
				<i class="fas fa-list-alt"></i>
			</span>
		</button>
	</div>
	
	<div id="modal-membre" class="modal">
		<div class="modal-background" (click)="closeModal('modal-membre')"></div>
		
		<div class="modal-card">
			<header class="modal-card-head has-background-primary">
				<p class="modal-card-title">Fiche de personnage</p>
				<button class="delete" aria-label="close" (click)="closeModal('modal-membre')"></button>
			</header>
			
			<section class="modal-card-body">
				Les infos sur le personnage membre de la guilde.
			</section>
		</div>
	</div>
</section>
