<section class="section">
	<div class="container">
		<h1 class="title">Position et carte du monde</h1>
		<h2 class="subtitle">Les informations concernant l'état du monde et les pérégrinations des joueurs.</h2>

		<div class="columns">
			<div class="column is-2">
				<aside class="menu is-hidden-mobile fixed-menu">
					<ul class="menu-list">
						<li><a class="is-active" (click)="scrollTo('carte-monde')" data-id="carte-monde">Carte du monde</a></li>
						<li><a (click)="scrollTo('pos-actu')" data-id="pos-actu">Position actuelle</a></li>
						<li><a (click)="scrollTo('pro-dest')" data-id="pro-dest">Prochaine destination</a></li>
						<li><a (click)="scrollTo('territoires')" data-id="territoires">Territoires</a></li>
					</ul>
				</aside>
			</div>

			<div class="column is-10">
				<article id="carte-monde">
					<h2 class="is-size-4 no-sub">Carte du monde</h2>

					<figure class="image is-16by9">
						<img src="../../assets/img/carte_monde.jpeg" alt="Carte du monde d'Arlhène, dessinée par Malou la MJ">
					</figure>

					<div class="message">
						<div class="message-body">
							<p>Carte dessinée main par notre MJ : <a class="has-text-link" href="https://www.instagram.com/maalloou/">@Maalloou</a>.</p>
						</div>
					</div>
				</article>

				<article id="pos-actu">
					<h2 class="is-size-4 no-sub">Position actuelle</h2>
					<p class="has-text-justified"></p>
				</article>

				<article id="pro-dest">
					<h2 class="is-size-4 no-sub">Prochaine destination</h2>
					<p class="has-text-justified"></p>
				</article>

				<article id="territoires">
					<h2 class="is-size-4">Territoires</h2>
					<h3 class="is-size-5 has-text-grey-lighter">
						Aperçu du territoire de chaque nation
					</h3>

					<p class="has-text-justified"></p>
				</article>
			</div>
		</div>
	</div>
</section>