#carte-monde div.message {
    margin-top: 1rem;
}

#carte-monde div.message>div.message-body {
    border-left-color: #1abc9c;
    border-left-width: 4px;
}

#toggle-carte {
	margin-top: 1.5rem;
}

g { cursor: pointer; }

g path, g circle {
	fill: #000000;
	stroke: #000000;
	stroke-width: 1px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-opacity: 1;
	transition: 0,3s;
}

g:hover path, g:hover circle {
	stroke: #1abc9c;
	stroke-width: 7px;
}

.invisible {
	display: none;
}

.offcanvas {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;/* Stay in place */
  top: 0;
  left: 0;
  z-index: 1000; /* Stay on top */
  background-color: #333; /* Black*/
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.offcanvas .menu {
	max-width: 75%;
	margin-left: 5%;
}

#btn-menu {
  position: fixed;
  bottom: 8%;
  right: 7%;
}
