<section class="hero is-primary is-medium has-background">
	<img src="assets/img/alpha-dice.jpg" alt="" class="hero-background is-transparent">

	<!-- Hero Head: Will stick at the top -->
	<div class="hero-head">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<span class="is-size-4 navbar-item">JDR Arlhène</span>

					<span class="navbar-burger" data-target="navbarMenuHero">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>

				<div class="navbar-menu is-hidden-desktop" id="navbarMenuHero">
					<div class="navbar-end">
						<a id="ni-accueil" class="navbar-item" [routerLink]="['/accueil']">
							<span class="icon"><i class="fa-solid fa-home" aria-hidden="true"></i></span>
							<span>Accueil</span>
						</a>

						<a id="ni-sessions" class="navbar-item" [routerLink]="['/sessions']">
							<span class="icon"><i class="fa-solid fa-scroll"></i></span>
							<span>Sessions</span>
						</a>

						<a id="ni-carte" class="navbar-item" [routerLink]="['/carte']">
							<span class="icon"><i class="fa-solid fa-location-dot" aria-hidden="true"></i></span>
							<span>Carte</span>
						</a>

						<a id="ni-pnj" class="navbar-item" [routerLink]="['/pnj']">
							<span class="icon"><i class="fa-solid fa-person-circle-question" aria-hidden="true"></i></span>
							<span>PNJ</span>
						</a>

						<a id="ni-guilde" class="navbar-item" [routerLink]="['/guilde']">
							<span class="icon"><i class="fa-solid fa-users-line" aria-hidden="true"></i></span>
							<span>Guilde</span>
						</a>

						<a id="ni-muthologie" class="navbar-item" [routerLink]="['/mythologie']">
							<span class="icon"><i class="fa-solid fa-book-bible"></i></span>
							<span>Mythologie</span>
						</a>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<!-- Hero content: Will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">
			<p class="title">Site de gestion du JDR</p>
			<p class="subtitle">
				Sessions, carte du monde, état de la guilde, documentation sur la mythologie, ...
			</p>
		</div>
	</div>

	<!-- Hero footer: Will stick at the bottom -->
	<div class="hero-foot is-hidden-touch">
		<nav class="tabs is-boxed is-fullwidth">
			<div class="container">
				<ul>
					<li id="tab-accueil">
						<a [routerLink]="['/accueil']">
							<span class="icon is-small"><i class="fa fa-home" aria-hidden="true"></i></span>
							Accueil
						</a>
					</li>

					<li id="tab-sessions">
						<a [routerLink]="['/sessions']">
							<span class="icon is-small"><i class="fa-solid fa-scroll"></i></span>
							Sessions
						</a>
					</li>

					<li id="tab-carte">
						<a [routerLink]="['/carte']">
							<span class="icon is-small"><i class="fa-solid fa-location-dot"></i></span>
							Carte
						</a>
					</li>

					<li id="tab-pnj">
						<a [routerLink]="['/pnj']">
							<span class="icon is-small"><i class="fa-solid fa-person-circle-question"></i></span>
							PNJ
						</a>
					</li>

					<li id="tab-guilde">
						<a [routerLink]="['/guilde']">
							<span class="icon is-small"><i class="fa-solid fa-users-line"></i></span>
							Guilde
						</a>
					</li>

					<li id="tab-mythologie">
						<a [routerLink]="['/mythologie']">
							<span class="icon is-small"><i class="fa-solid fa-book-bible"></i></span>
							Mythologie
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</section>

<router-outlet></router-outlet>

<footer class="footer">
	<div class="content has-text-centered">
		<p>
			2022, Fait par <strong><a href="https://github.com/Mar-Nb">@Mar-Nb</a></strong>.
		</p>

		<blockquote class="is-italic">
			"Car toutes les voies ne font qu'une dans la brise soufflant sur ce monde."
			<br>
			- Préceptes des moines du vent
		</blockquote>
	</div>
</footer>