/* You can add global styles to this file, and also import other style files */
div.columns {
	margin-top: 2rem;
}

h2[class*="is-size"].no-sub,
h2[class*="is-size"]+h3[class*="is-size"] {
	margin-bottom: 1rem;
}

article:not(:last-child) {
	margin-bottom: 5rem;
}

div.column.is-2 {
	border-right: 1px solid #f3f3f3;
}

.fixed-menu {
	position: sticky;
	top: 2rem;
	z-index: 100;
}