<section class="section">
	<div class="container">
		<h1 class="title">Bienvenue dans l'univers d'Arlhène !</h1>
		<h2 class="subtitle">
			Les informations de base de ce monde, et les dernières "news" seront inscrites ici.
		</h2>

		<div class="columns">
			<div class="column is-2">
				<aside class="menu is-hidden-mobile fixed-menu">
					<ul class="menu-list">
						<li><a class="is-active" (click)="scrollTo('precedemment')" data-id="precedemment">Précédemment</a></li>
						<li><a (click)="scrollTo('facepalm')" data-id="facepalm">Facepalm récent</a></li>
					</ul>
				</aside>
			</div>

			<div class="column is-10">
				<div class="offcanvas">
					<div class="is-flex" style="margin-bottom: 2rem;">
						<button class="delete" style="margin-left: auto; margin-top: 3%; margin-right: 2.5%;" (click)="closeOffCanvas()"></button>
					</div>
					<div class="menu">
						<ul class="menu-list">
							<li><a class="is-active" (click)="scrollTo('precedemment')" data-id="precedemment">Précédemment</a></li>
							<li><a (click)="scrollTo('facepalm')" data-id="facepalm">Facepalm récent</a></li>
						</ul>
					</div>
				</div>

				<article id="precedemment">
					<h2 class="is-size-4 no-sub">Précédemment...</h2>
					<p class="has-text-justified">
						Nos héros ont fait escale sur une petite archipel, où les différents continents sont représentés et où se
						situe le quartier général des voyageurs. En route vers le lieu de leur prochain bastion, c'était pour eux
						l'occasion de souffler un peu. <br>
						Mais c'était sans compter la malchance habituelle de ce groupe de héros d'une époque disparue !
					</p>
				</article>

				<article id="facepalm">
					<h2 class="is-size-4">Facepalm récent</h2>
					<h3 class="is-size-5 has-text-grey-light">
						Une catégorie pour citer un moment (ou plusieurs ?) qui mérite un "facepalm"
					</h3>

					<div class="box" *ngFor="let fp of listeFP">
						<div class="media">
							<figure class="media-left">
								<p class="image is-64x64">
									<img src="https://bulma.io/images/placeholders/128x128.png">
								</p>
							</figure>

							<div class="media-content">
								<div class="content" [innerHTML]="fp.texte">
									<!-- <p>
										<strong>Sezan l'Elfe </strong> <small class="has-text-link"> @Martin</small>
										<br>
										Certains diront que mon avis est sans doute biaisé, mais dénoncer un camarade à un boss aux stats
										<strong>surboostées</strong> est certainement la définition d'une action "facepalm".
										<br><br>
										<span class="is-italic">(La personne visée se reconnaîtra...)</span>
									</p> -->
								</div>

								<nav class="level">
									<div class="level-left">
										<div class="level-item"></div>
									</div>

									<div class="level-right">
										<div class="level-item">
											<small class="is-italic has-text-link">Session {{ fp.session }}</small>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</article>
			</div>

			<button id="btn-menu" class="button is-primary is-rounded is-hidden-tablet" (click)="openOffCanvas()">
				<span class="icon is-small">
					<i class="fas fa-list-alt"></i>
				</span>
			</button>

		</div>
	</div>
</section>